div.a {width:60%; height: 40%; border: 3px solid red; }
div.b{width:60%; height: 40%; border: 3px solid blue; margin:25px; } 
div.c{width:60%; height: 40%; border: 3px solid green; margin:25px;padding: 25px; }